.eachitem {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px; 
    text-align: center;
}

.eachitem img {
    width: 100%; 
    max-width: 300px;
    height: auto; 
    border-radius: 10px;
}

.eachitem p {
    width: 90%; 
    margin: 10px 0;
    font-size: 1rem;
}

/* Tablet screens */
@media (min-width: 600px) {
    .eachitem {
        flex-direction: row; 
        padding: 30px;
    }

    .eachitem img {
        max-width: 350px; 
    }

    .eachitem p {
        font-size: 1.3rem;
    }
}


@media (max-width: 599px) {
    .eachitem {
        flex-direction: column;
        padding: 15px;
    }

    .eachitem img {
        max-width: 250px; 
    }

    .eachitem p {
        font-size: 1.1rem;
    }
}
